* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(drone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: yellow;
}

header {
    background-color: green;
    padding: 10px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header > img {
    width: 100px;
    height:100px;
}

header > ul > li> a, li {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    
}

main {
    background-color: aqua;
    width: 100vw;
    margin-top: 10px;  
}



