* {
    margin: 0px;
    padding: 0px;
}
div#primeiro {
   
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
}

p.pequeno {
    font-size: 1.1em;
    color: rgb(139, 138, 138);
}

#segundo {
    font-size: 2.4em;
    font-weight: bolder;
}

div#inscreva-se >div#broxa > h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(100, 99, 99);
    font-size: 1.7em;
}

a#botao:hover {
    background-color: rgb(104, 250, 104);   
    color: black;
}

div#ultimo > p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    padding: 5px;
}
@media(max-width: 700px) and (min-width:360px) {
    body {
        background-image: url(imagens/pexels-hicret-16954026.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    ul#sumiu ,p.pequeno{
        display: none;
    }
    main {
        margin-left: 30px;
        padding: 10px 0px 0px 0px;
        max-width: 1000px;
        margin-top: 70px;
    }
    header {
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.185);
        padding: 10px 0px 10px 0px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    header > h1 {
        font-size: 2.5em;
        text-align: center;
        margin-left: 10px;
    }
    div#inscreva-se {
        margin-top: 20px;
        padding: 15px 15px 10px 15px;
        background-color: whitesmoke;
        max-width: 280px;
        border-radius: 15px;
        height: 100px;
    }
    a#botao {
        font-size: 1.3em;
        display: block;
        text-decoration: none;
        color: white;
        padding: 5px 5px 5px 30px;
        width: 120px;
        background-color: rgb(11, 133, 11);
        border-radius: 7px;
    }
}

@media (min-width:750px) {
    body {
        background-image: url(imagens/drone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    header {
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.185);
        padding: 10px 0px 10px 0px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    header > h1 {
        font-size: 2.3em;
        display: inline-block;
        text-align: left;
        padding: 10px 0px 10px 10px;
        margin-left: 10px;
    }
    ul {
        font-size: 1.2em;
        text-align: right;
        margin: 0px 0px 0px 500px;
        display: inline-block;
    }
    header > ul > li> a, li {
        text-decoration: none;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
        display: inline-block;
    }
    
    main {
        margin-left: 30px;
        padding: 10px 0px 0px 0px;
        max-width: 1000px;
        margin-top: 70px;
    }
    
    #segundo {
        font-size: 2.4em;
        font-weight: bolder;
    }
    
    div#inscreva-se {
        margin-top: 20px;
        padding: 15px 15px 10px 15px;
        background-color: whitesmoke;
        max-width: 580px;
        border-radius: 15px;
        height: 100px;
    }
    
    a#botao {
        font-size: 1.3em;
        display: block;
        margin: -48px 2px 2px 400px;
        text-decoration: none;
        color: white;
        padding: 5px 5px 5px 30px;
        width: 120px;
        background-color: rgb(11, 133, 11);
        border-radius: 7px;
    }
    a#botao:hover {
        background-color: rgb(104, 250, 104);   
        color: black;
    }
    
    footer {
        display: block;
        background-color: rgb(3, 66, 3);
        color: white;
        text-align: center;
        font-size: 0.7em;
        padding: 5px;
    }
    div#ultimo {
        max-width: 650px;
        margin: 10px 0px 5px 3px ;
    }
}